---
import TopSlider from "../components/TopSlider"
import 'rc-slider/assets/index.css';
import "slick-carousel/slick/slick.css"; 
import "../styles/top.scss"
---

<html lang="en">
  <body>
    <main class="main">
    <TopSlider client:load />
    </main>
  </body>
</html>